.navAndSlider {
  position: relative;
  .navbarBurger {
    position: fixed;
    background-color: none;
    width: 55px;
    z-index: 300;
    padding: 0;
    margin: 0;
    top: 60px;
    border-radius: 9px;
    .container-fluid {
      border-radius: 9px;
      width: 42px;
      margin: 0;
      padding: 0;
      .collapse {
        position: absolute;
        width: 140px;
        top: 39px;
      }
    }
  }
}

.carousel {
  display: flex;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: -2;
}

.navContainer {
  display: flex;
  position: absolute;
  top: 42px;
  left: 175px;
  align-content: center;
  height: 80px;
  width: 82%;
  justify-content: space-between;
}

.navbar {
  width: 1400px;
  .navbar-nav {
    width: 65%;
    justify-content: space-between;
    .nav-item a {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 60%;
        top: 100%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: white;
        transition: width 250ms ease-in-out;
      }

      &:hover::after {
        width: 60%;
      }
    }
  }
}

.divLogo {
  display: flex;
  justify-content: space-between;
  :nth-last-child(1n) {
    margin: 0 0 0 15px;
  }
  img {
    margin: 0 15px;
    font-family: Poppins-Bold, Poppins;
  }
}

#nav-content {
  justify-content: space-between;
  .navbar-nav .nav-item a {
    color: #fff;
  }
}

.navContainer .navbar-brand {
  height: 100%;
  margin-right: 152px;
  opacity: 1;
  svg {
    fill: #fff;
    font-size: 48px;
    font-family: Poppins-Bold, Poppins;
    font-weight: 700;
  }
}

.carousel-control-prev {
  z-index: 20;
}

.formBox {
  position: absolute;
  right: 176px;
  bottom: 125px;
  width: 449px;
  height: 638px;
}

.contentImage {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 181px;
  left: 175px;
  margin-right: 645px;
  svg {
    width: 196px;
    height: 91px;
    fill: #fff;
    font-size: 65px;
    font-family: Poppins-Bold, Poppins;
    font-weight: 700;
  }
  .paragraph {
    color: white;
    height: 139px;
    font-size: 48px;
    font-weight: 300;
    line-height: 1;
    text-align: left;
  }
}

svg .arrowLeft {
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, white 50%, black 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
  transform: rotate(180deg);
  fill: black;
}

svg .arrowRight {
  width: 145px;
  height: 118px;
  background-color: white;
  transform: rotate(0deg);
}

.arrowBox {
  display: inline-block;
  position: absolute;
  bottom: 0px;
  width: 145px;
  height: 118px;
  text-align: center;
  color: white;
  .secondArrow {
    position: absolute;
    width: 145px;
    height: 118px;
    background-color: white;
    transform: rotate(0deg);
  }
  svg {
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, white 50%, black 50%) right;
    background-size: 200%;
    transition: 0.5s ease-out;
    transform: rotate(180deg);
    fill: black;
  }
}
.arrowGallery .useArrowTwo,
.arrowGallery .useArrowThree,
.arrowCarousel .useArrowTwo,
.arrowCarousel .useArrowThree {
  display: none;
}

.carousel-prev-button svg:hover,
.carousel-next-button svg:hover {
  background-position: left;
  fill: white;
  .a {
    fill: white;
  }
}

/* Services section*/

.servicesSection {
  margin-top: 140px;
  display: flex;
  justify-content: center;
  .services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .row {
      justify-content: center;
    }
  }
  .elem-one,
  .elem-two {
    margin: 0 18px;
    max-width: 770px;
    height: 495px;
    position: relative;
    padding: 0;
  }

  .elem-three,
  .elem-four {
    margin: 25px 18px 0;
    max-width: 770px;
    height: 362px;
    position: relative;
    padding: 0;
    figure {
      height: 362px;
    }
  }
  figure {
    width: 770px;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
  }
  .imageBox {
    background-size: cover;
    position: relative;
    opacity: 0.75;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .elem-one .imageBox {
    background: url("/images/shutterstock_1877634640.png") no-repeat center;
  }

  .elem-two .imageBox {
    background: url("/images/shutterstock_1723055614.png") no-repeat center;
  }
  .elem-three .imageBox {
    background: url("/images/shutterstock_1677941275.png") no-repeat center;
  }
  .elem-four .imageBox {
    background: url("/images/shutterstock_1433594243.png") no-repeat center;
  }

  .elem-one .arrowBox,
  .elem-two .arrowBox,
  .elem-three .arrowBox,
  .elem-four .arrowBox {
    right: 0px;
    position: absolute;
    .secondArrow {
      position: relative;
    }
  }

  .elem-one:hover,
  .elem-two:hover,
  .elem-three:hover,
  .elem-four:hover {
    .imageBox {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
    svg {
      background-position: left;
      fill: white;
      .a {
        fill: white;
      }
    }
  }

  .elem-one .whiteBox,
  .elem-two .whiteBox,
  .elem-three .whiteBox,
  .elem-four .whiteBox {
    width: 223px;
    height: 159px;
    background-color: #fff;
    position: absolute;
    left: 29px;
    .h3 {
      text-align: left;
      font: normal normal bold 28px/38px Poppins;
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;
      z-index: 2;
      position: absolute;
      top: 33px;
      left: 33px;
    }
    .paragraph {
      position: absolute;
      bottom: 0px;
      left: 86px;
    }
    .paragraph:before {
      display: inline-block;
      content: "";
      border-top: 0.4rem solid black;
      width: 3rem;
      margin: 0 -3rem;
      transform: translateY(-1.5rem);
    }
    .yellowBox {
      width: 42px;
      height: 42px;
      position: absolute;
      top: 25px;
      left: 25px;
      background-color: #ffcc48;
    }
  }
  .elem-one .whiteBox,
  .elem-two .whiteBox {
    top: 29px;
  }
  .services .elem-two .whiteBox {
    width: 241px;
    height: 195px;
  }
  .services .elem-three .whiteBox {
    width: 223px;
    height: 195px;
    bottom: 29px;
    .h3 {
      width: 50px;
    }
  }

  .services .elem-four .whiteBox {
    width: 324px;
    height: 195px;
    bottom: 29px;
    .h3 {
      width: 270px;
    }
  }
}

/* IconTools section*/

.iconTools {
  margin-top: 141px;
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1745px;
    .toolBox {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 360px;
      height: 359px;
      .h3 {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-28) /
          var(--unnamed-line-spacing-38) var(--unnamed-font-family-poppins);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-000000);
        text-align: left;
        opacity: 1;
      }
    }
  }
  .toolBox .iconSvg {
    width: 108px;
    height: 129px;
    opacity: 1;
  }
  .toolBox #iconOne {
    background: transparent url("/images/Group\ 603.svg") 0% 0% no-repeat padding-box;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .toolBox #iconTwo {
    background: transparent url("/images/Group\ 602.svg") 0% 0% no-repeat padding-box;
    margin-top: 110px;
    margin-bottom: 31px;
    width: 120px;
    height: 119px;
  }
  .toolBox #iconThree {
    background: transparent url("/images/Group\ 601.svg") 0% 0% no-repeat padding-box;
    margin-top: 100px;
    margin-bottom: 30px;
    width: 130px;
    height: 132px;
  }
  .toolBox #iconFour {
    background: transparent url("/images/Group\ 604.svg") 0% 0% no-repeat padding-box;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  #toolFive {
    height: 450px;
    margin-right: 36px;
    #iconFive {
      background: transparent url("/images/Group\ 598.svg") 0% 0% no-repeat padding-box;
      margin-top: 117px;
      margin-bottom: 41px;
      width: 136px;
      height: 102px;
    }
  }
  #toolSix {
    height: 450px;
    margin-right: 36px;
    #iconSix {
      background: transparent url("/images/Group\ 599.svg") 0% 0% no-repeat padding-box;
      margin-top: 100px;
      margin-bottom: 32px;
      width: 136px;
      height: 130px;
    }
  }
  #toolSeven {
    height: 450px;
    #iconSeven {
      background: transparent url("/images/Group\ 600.svg") 0% 0% no-repeat padding-box;
      margin-top: 100px;
      margin-bottom: 32px;
      width: 136px;
      height: 130px;
    }
  }
  .iconTitleBox {
    width: 290px;
    height: 359px;
    .h2 {
      font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-48) / 58px
        var(--unnamed-font-family-poppins);
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--unnamed-color-000000);
      text-align: left;
      opacity: 1;
    }
    .h2::after {
      display: inline-block;
      content: "";
      border-top: 0.6rem solid black;
      width: 8rem;
      margin: 0 -9.2rem;
      transform: translateY(3.5rem);
    }
  }
}

.buttonBox {
  display: flex;
  flex-direction: row;
  width: 380px;
  height: 78px;
  margin: 100px 0;

  .paragraph {
    font-family: var(--unnamed-font-family-poppins);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-18);
    line-height: var(--unnamed-line-spacing-28);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: white;
  }
  button {
    width: 80%;
    border: none;
    background: linear-gradient(to left, black 50%, var(--unnamed-color-FFCC48) 50%) right;
    background-size: 200%;
    transition: 0.5s ease-out;
  }
  .buttonArrowBox {
    display: inline-block;
    width: 78px;
    height: 78px;
    text-align: center;
    svg {
      width: 100%;
      height: 100%;
      background-color: black;
      transform: rotate(0deg);
      fill: white;
      margin: auto;
      text-align: center;
    }
  }
}

.buttonBox:hover {
  .paragraph {
    background-position: left;
    color: black;
  }
}

/* Big photo section */

.bigPhotoBox {
  position: relative;
  height: 642px;
  margin-top: 130px;
  .h1 {
    margin-top: 220px;
    top: 220px;
    max-width: 540px;
    left: 95px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-65) /
      var(--unnamed-line-spacing-75) var(--unnamed-font-family-poppins);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    opacity: 1;
  }
  .h1::after {
    display: inline-block;
    content: "";
    border-top: 1.3rem solid black;
    width: 41rem;
    margin: 0 -0.19rem;
    transform: translateY(7.5rem);
  }
  .container {
    display: flex;
    position: relative;
    max-width: 1745px;
    height: 100%;
  }
  .imageBox {
    position: absolute;
    right: 0px;
    top: 0px;
    background: url("/images/Group\ 258.png") no-repeat center;
    height: 100%;
    width: 1585px;
    z-index: -1;
  }
  .patternPhoto {
    position: absolute;
    background: url("/images/Group\ 576.png") no-repeat center;
    right: 175px;
    width: 290px;
    height: 145px;
    top: -72px;
  }
}

/* News section*/

.newsBox {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  .containerTitle {
    text-align: center;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-65) /
      var(--unnamed-line-spacing-75) var(--unnamed-font-family-poppins);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    opacity: 1;
    margin-bottom: 100px;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
    max-width: 1745px;
  }
  .wrapperCol {
    width: 450px;
    height: 100%;
  }
  .wrapperImage {
    img {
      height: 334px;
      width: 100%;
      object-fit: cover;
      overflow: hidden;
    }
  }
  .wrapperText {
    p {
      font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) /
        var(--unnamed-line-spacing-75) var(--unnamed-font-family-poppins);
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--unnamed-color-000000);
      text-align: left;
      opacity: 1;
    }
    .h3 {
      font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-28) /
        var(--unnamed-line-spacing-38) var(--unnamed-font-family-poppins);
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--unnamed-color-000000);
      text-align: left;
      opacity: 1;
    }
    .button {
      font: var(--unnamed-font-style-normal) normal medium var(--unnamed-font-size-18) / var(--unnamed-line-spacing-28)
        var(--unnamed-font-family-poppins);
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--unnamed-color-000000);
      text-align: left;
      text-decoration: underline;
      opacity: 1;
      border: none;
      background: none;
      font-size: 18px;
    }
  }
}

/*Gallery section*/

.gallery {
  position: relative;
  margin-top: 130px;
  width: 100%;
  .arrowBox {
    bottom: 0;
    top: 42%;
    svg:hover {
      background-position: left;
      fill: white;
      .a {
        fill: white;
      }
    }
    .secondArrow {
      position: relative;
      width: 100%;
      height: 100%;
      background-color: white;
      transform: rotate(0deg);
    }
  }
  .secondBox {
    right: 0px;
  }
  .row {
    width: 100%;
  }
  .container {
    display: flex;
    position: absolute;
    width: 200px;
    top: 30px;
    right: 209px;
    justify-content: flex-end;
    .h1 {
      font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-65) /
        var(--unnamed-line-spacing-75) var(--unnamed-font-family-poppins);
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--unnamed-color-000000);
      text-align: right;
      opacity: 1;
      width: 358px;
    }
    .h1::after {
      display: inline-block;
      content: "";
      border-top: 1.3rem solid black;
      width: 24rem;
      margin: 0 -0.19rem;
      transform: translateY(7.5rem);
    }
  }
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  #imageOne,
  #imageFour {
    height: 100%;
  }
  #imageTwo {
    height: 50%;
  }
  #imageThree {
    height: 48.5%;
    margin-top: 17px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*Footer section */

.footer {
  margin-top: 160px;
  background-color: var(--unnamed-color-000000);
  position: relative;
  .container {
    position: relative;
    display: flex;
    max-width: 1745px;
    flex-direction: column;
  }
  .logoBox {
    width: 250px;
    height: 75px;
    margin: 80px 0 0 -35px;
    svg {
      width: 100%;
      height: 100%;
      fill: #fff;
      font-size: 65px;
      font-family: Poppins-Bold, Poppins;
      font-weight: 700;
    }
  }
  .contactBox {
    width: 180px;
    p {
      font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px/26px
        var(--unnamed-font-family-poppins);
      letter-spacing: var(--unnamed-character-spacing-0);
      text-align: left;
      letter-spacing: 0px;
      color: #ffffff;
    }
    p:nth-last-child(1) {
      font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 16px/26px
        var(--unnamed-font-family-poppins);
    }
  }
}

.patternFooter {
  width: 290px;
  height: 68px;
  background: transparent url("/images/Group\ 586.svg") 0% 0% no-repeat padding-box;
  position: absolute;
  top: -29px;
  right: 175px;
}

.wrapperContact {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.navFooter {
  margin-right: 400px;
  ul {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px /
      var(--unnamed-line-spacing-28) var(--unnamed-font-family-poppins);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    color: #ffffff;
    opacity: 1;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 120px;
    padding-left: 0;
    width: 576px;
    li {
      letter-spacing: 0;
      text-align: left;
      color: #ffffff;
      opacity: 1;
      list-style: none;
      width: 160px;
      border: solid black;
      justify-content: center;
      margin-right: 100px;
    }
  }
}

.policy {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 12px / var(--unnamed-line-spacing-28)
    var(--unnamed-font-family-poppins);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  color: #ffffff;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 30px;
  p {
    margin: 0;
  }
  img {
    margin-bottom: 8px;
  }
}
.navContainer .btn {
  display: none;
}
.modal-body .formBox {
  width: 100%;
  height: 100%;
  position: relative;
  right: 0px;
  bottom: 0px;
  img {
    width: 100%;
    height: 100%;
  }
}

.navContainer .btn-check:focus,
.navContainer .btn-primary:focus {
  color: #fff;
  background-color: var(--unnamed-color-000000) !important;
  border-color: var(--unnamed-color-000000) !important;
  box-shadow: 0 0 0 0.25rem rgba(241, 241, 241, 0.5) !important;
}

.navContainer .btn-primary:hover {
  color: #fff;
  background-color: var(--unnamed-color-000000);
  border-color: var(--unnamed-color-000000);
}

/*MEDIA QUERIES*/

@media (max-width: 1785px) {
  .formBox {
    bottom: -35px;
    img {
      width: 90%;
      height: 90%;
    }
  }
}

@media (max-width: 1635px) {
  .services .elem-one,
  .services .elem-two,
  .services .elem-three,
  .services .elem-four {
    min-width: 633px;
    max-width: 0;
    width: 0;
    figure {
      min-width: 340px;
      width: 633px;
    }
  }
}

@media (max-width: 1610px) {
  .formBox {
    width: 365px;
  }
  .iconTools .toolBox {
    align-items: center;
    .h3 {
      text-align: center;
    }
  }
  .iconTools .container {
    justify-content: center;
  }
  .iconTools #toolFive,
  .iconTools #toolSix {
    margin-right: 0;
    .h3 {
      text-align: center;
    }
  }
  .iconTools .container .toolBox .h3 {
    text-align: center;
  }
}

@media (min-width: 1401px) {
  .navAndSlider .navbarBurger {
    display: none;
  }
  .servicesSection .services {
    max-width: 1745px;
  }
}

@media (max-width: 1400px) {
  .contentImage {
    svg {
      font-size: 48px;
    }
    .paragraph {
      font-size: 36px;
    }
  }
  .navAndSlider .formBox {
    display: none;
  }
  .navContainer {
    .navbar {
      width: 100px;
    }
    .navbar .divLogo {
      margin-left: 0;
    }
    .navbar-nav {
      display: none;
      width: 120px;
    }
  }
  .navContainer {
    width: 78%;
  }
}

@media (max-width: 1373px) {
  .navFooter {
    margin-right: 0;
  }
  .contentImage {
    bottom: 88px;
    margin-right: 100px;
  }
  .navContainer .btn {
    display: block;
    color: var(--unnamed-color-000000);
    background-color: var(--unnamed-color-FFCC48);
    border-color: var(--unnamed-color-FFCC48);
    position: absolute;
    margin-top: 124px;
    right: 0px;
    height: 80%;
    width: 144px;
  }
}

@media (max-width: 1200px) {
  .services .services .elem-two {
    margin-top: 27px;
  }
  .gallery .container {
    .h1 {
      font-size: 50px;
    }
    .h1::after {
      border-top: 0.8rem solid black;
      width: 16rem;
      transform: translateY(1.5rem);
    }
  }
}

@media (max-width: 1199px) {
  .servicesSection .services .elem-two {
    margin-top: 27px;
  }
}

@media (max-width: 1025px) {
  .navContainer {
    left: 104px;
  }
  .navbar-brand {
    margin-right: 46px;
  }
  .contentImage {
    bottom: 90px;
    left: 100px;
  }
}

@media (max-width: 923px) {
  .newsBox .container :nth-child(2n) {
    margin-top: 30px;
  }
  .newsBox .container :last-child {
    margin-top: 30px;
  }
  .contentImage svg {
    font-size: 30px;
  }
  .contentImage .paragraph {
    height: 89px;
  }
  .navAndSlider .contentImage .paragraph {
    font-size: 26px;
  }
  .arrowCarousel,
  .arrowGallery,
  .arrowBox .arrowCarousel,
  .arrowBox .arrowGallery {
    width: 93px;
    height: 85px;
  }

  .arrowCarousel .useArrowOne,
  .arrowGallery .useArrowOne {
    display: none;
  }
  .arrowCarousel .useArrowTwo,
  .arrowGallery .useArrowTwo {
    display: block;
  }
}

@media (max-width: 778px) {
  .navFooter ul {
    width: 244px;
  }
  .bigPhotoBox .h1 {
    font-size: 50px;
  }
  .bigPhotoBox .h1::after {
    width: 29rem;
  }
  .servicesSection .services .elem-three .whiteBox {
    width: 154px;
    bottom: 144px;
  }
  .servicesSection .services .elem-four .whiteBox {
    width: 172px;
    bottom: 149px;
    .h3 {
      font-size: 20px;
      width: 131px;
    }
  }
  .navContainer .navbar-brand {
    margin-right: 59px;
  }
}

@media (max-width: 630px) {
  .navContainer .btn {
    width: 75px;
    font-size: 10px;
    padding: 0;
    margin-right: 30px;
    margin-top: 210px;
  }
  .navAndSlider .contentImage {
    bottom: 32px;
    .paragraph {
      font-size: 18px;
    }
  }
}
@media (max-width: 640px) {
  .services .elem-one,
  .services .elem-two,
  .services .elem-three,
  .services .elem-four {
    min-width: 600px;
  }
  .services .elem-one figure,
  .services .elem-two figure,
  .services .elem-three figure,
  .services .elem-four figure {
    width: 100%;
  }
}

@media (max-width: 447px) {
  .navFooter {
    margin-top: 20px;
  }
}

@media (max-width: 360px) {
  .bigPhotoBox .h1::after {
    width: 15rem;
  }
}

@media (max-width: 500px) {
  .newsBox .containerTitle {
    font-size: 40px;
    margin-bottom: 55px;
  }
  .bigPhotoBox {
    .h1 {
      font-size: 40px;
      margin-left: 49px;
      left: 0;
    }
    .patternPhoto {
      right: 90px;
    }
  }
  .bigPhotoBox .h1::after {
    width: 19rem;
  }
  .services .elem-one,
  .services .elem-two,
  .services .elem-three,
  .services .elem-four {
    min-width: 350px;
    max-width: 0;
    width: 0;
  }
  .services .elem-one figure,
  .services .elem-two figure,
  .services .elem-three figure,
  .services .elem-four figure {
    min-width: 350px;
    width: 0;
  }
}

@media (max-width: 580px) {
  .collapse .divLogo {
    display: block;
  }
  .navAndSlider .navContainer .btn {
    margin-top: 76px;
  }
  .navContainer .navbar {
    margin-right: 30px;
  }
  .navContainer .navbar-brand {
    margin-right: 10px;
  }
  .arrowCarousel,
  .arrowGallery,
  .arrowBox .arrowCarousel,
  .arrowBox .arrowGallery {
    width: 53px;
    height: 55px;
  }
  .arrowCarousel .useArrowTwo,
  .arrowGallery .useArrowTwo {
    display: none;
  }
  .arrowCarousel .useArrowThree,
  .arrowGallery .useArrowThree {
    display: block;
  }
  .contentImage {
    margin-right: 150px;
    bottom: 0px;
  }
  .contentImage .paragraph {
    height: 50px;
  }

  .gallery .container {
    .h1 {
      font-size: 35px;
    }
    .h1::after {
      transform: translateY(-1.9rem);
      width: 15rem;
    }
  }
}

@media (max-width: 800px) {
  .navContainer {
    top: -12px;
    left: 78px;
    .btn {
      margin-top: 236px;
    }
  }
  .contentImage {
    left: 104px;
    bottom: 106px;
  }
}

@media (max-width: 680px) {
  .contentImage {
    bottom: 70px;
    margin-right: 30px;
  }
  .navContainer .btn {
    margin-top: 90px;
  }
  .gallery .container {
    right: 60px;
  }
}

@media (max-width: 461px) {
  .navAndSlider .contentImage {
    bottom: 0px;
    left: 118px;
  }
  .navContainer .btn {
    width: 50px;
    font-size: 8px;
    height: 42px;
  }
  .contentImage svg {
    font-size: 20px;
  }
  .navAndSlider .contentImage .paragraph {
    font-size: 14px;
  }
  .gallery .container {
    .h1 {
      font-size: 35px;
      .h1::after {
        transform: translateY(-1.9rem);
        width: 15rem;
      }
    }
  }
}

@media (max-width: 360px) {
  .contentImage {
    bottom: -20px;
  }
  .navAndSlider .contentImage .paragraph {
    font-size: 14px;
  }
}
