.navAndSlider {
  position: relative;
  // height: 941px; //should be 668;
  // max-width: 1920px;
  .navbarBurger {
    position: fixed;
    background-color: none;
    width: 55px;
    z-index: 300;
    padding: 0;
    margin: 0;
    top: 60px;
    border-radius: 9px;
    .container-fluid {
      border-radius: 9px;
      width: 42px;
      margin: 0;
      padding: 0;
      .collapse {
        position: absolute;
        width: 140px;
        top: 39px;
      }
    }
  }
}

.carousel {
  display: flex;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  // background: transparent url("/images/Path\ 749.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: -2;
}

.navContainer {
  display: flex;
  position: absolute;
  top: 42px;
  left: 175px;
  align-content: center;
  height: 80px;
  width: 82%;
  justify-content: space-between;
}

.navbar {
  // position: absolute !important;
  // top: 64px;
  // left: 493px;
  width: 1400px;
  // width: 1250px;
  // height: 40px;
  // border: solid red;
  .navbar-nav {
    width: 65%;
    // border: solid pink;
    justify-content: space-between;
  }
}

.divLogo {
  display: flex;
  justify-content: space-between;
  // width: 100%;
  :nth-last-child(1n) {
    margin: 0 0 0 15px;
  }
  img {
    margin: 0 15px;
    font-family: Poppins-Bold, Poppins;
  }
}
#nav-content {
  justify-content: space-between;
  .navbar-nav .nav-item a {
    color: #fff;
  }
}

.navContainer .navbar-brand {
  height: 100%;
  margin-right: 152px;
  opacity: 1;
  svg {
    fill: #fff;
    font-size: 48px;
    font-family: Poppins-Bold, Poppins;
    font-weight: 700;
  }
}

.carousel-control-prev {
  z-index: 20;
}

.formBox {
  position: absolute;
  // top: 178px;
  // left: 1295px;
  right: 176px;
  bottom: 125px;
  width: 449px;
  height: 638px;
}

.contentImage {
  display: flex;
  flex-direction: column;
  position: absolute;
  // top: 517px;
  bottom: 181px;
  left: 175px;
  // max-width: 887px; to do zmiany
  margin-right: 645px;
  svg {
    width: 196px;
    height: 91px;
    fill: #fff;
    font-size: 65px;
    font-family: Poppins-Bold, Poppins;
    font-weight: 700;
  }
  .paragraph {
    color: white;
    // width: 887px;
    height: 139px;
    font-size: 48px;
    font-weight: 300;
    line-height: 1;
    text-align: left;
  }
}

svg .arrowLeft {
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, white 50%, black 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
  transform: rotate(180deg);
  fill: black;
}

// svg {
//   width: 100%;
//   height: 100%;
//   background: linear-gradient(to left, white 50%, black 50%) right;
//   background-size: 200%;
//   transition: 0.5s ease-out;
//   transform: rotate(180deg);
//   fill: black;
// }
svg .arrowRight {
  width: 145px;
  height: 118px;
  background-color: white;
  transform: rotate(0deg);
}

.arrowBox {
  display: inline-block;
  // padding: 1em 2em;
  position: absolute;
  // top: 823px;
  bottom: 0px;
  // left: 0px; tu w razie czego ma być włączona opcja
  width: 145px;
  height: 118px;
  text-align: center;
  color: white;
  .secondArrow {
    position: absolute;
    width: 145px;
    height: 118px;
    background-color: white;
    transform: rotate(0deg);
  }
  svg {
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, white 50%, black 50%) right;
    background-size: 200%;
    transition: 0.5s ease-out;
    transform: rotate(180deg);
    fill: black;
  }
}

.carousel-prev-button svg:hover,
.carousel-next-button svg:hover {
  background-position: left;
  fill: white;
  .a {
    fill: white;
  }
}

/* Services section*/

.servicesSection {
  margin-top: 140px;
  display: flex;
  justify-content: center;
  .services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .row {
      justify-content: center;
    }
  }
  .elem-one,
  .elem-two {
    // border: solid;
    margin: 0 18px;
    max-width: 770px;
    height: 495px;
    position: relative;
    padding: 0;
  }

  .elem-three,
  .elem-four {
    margin: 25px 18px 0;
    max-width: 770px;
    height: 362px;
    position: relative;
    padding: 0;
    figure {
      height: 362px;
    }
  }
  figure {
    width: 770px;
    height: 495px;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
  }
  // .elem-one
  .imageBox {
    background-size: cover;
    position: relative;
    opacity: 0.75;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .elem-one .imageBox {
    background: url("/images/shutterstock_1877634640.png") no-repeat center;
  }

  .elem-two .imageBox {
    background: url("/images/shutterstock_1723055614.png") no-repeat center;
  }
  .elem-three .imageBox {
    background: url("/images/shutterstock_1677941275.png") no-repeat center;
  }
  .elem-four .imageBox {
    background: url("/images/shutterstock_1433594243.png") no-repeat center;
  }

  .elem-one .arrowBox,
  .elem-two .arrowBox,
  .elem-three .arrowBox,
  .elem-four .arrowBox {
    right: 0px;
    position: absolute;
    .secondArrow {
      position: relative;
    }
  }

  .elem-one:hover,
  .elem-two:hover,
  .elem-three:hover,
  .elem-four:hover {
    .imageBox {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
    svg {
      background-position: left;
      fill: white;
      .a {
        fill: white;
      }
    }
  }

  .elem-one .whiteBox,
  .elem-two .whiteBox,
  .elem-three .whiteBox,
  .elem-four .whiteBox {
    width: 223px;
    height: 159px;
    background-color: #fff;
    // opacity: 1;
    position: absolute;
    // top: 29px;
    left: 29px;
    .h3 {
      text-align: left;
      font: normal normal bold 28px/38px Poppins;
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;
      z-index: 2;
      position: absolute;
      top: 33px;
      left: 33px;
    }
    .paragraph {
      position: absolute;
      bottom: 0px;
      left: 86px;
    }
    .paragraph:before {
      display: inline-block;
      content: "";
      border-top: 0.4rem solid black;
      width: 3rem;
      margin: 0 -3rem;
      transform: translateY(-1.5rem);
    }
    .yellowBox {
      width: 42px;
      height: 42px;
      position: absolute;
      top: 25px;
      left: 25px;
      background-color: #ffcc48;
    }
  }
  .elem-one .whiteBox,
  .elem-two .whiteBox {
    top: 29px;
  }
  .services .elem-two .whiteBox {
    width: 241px;
    height: 195px;
  }
  .services .elem-three .whiteBox {
    width: 223px;
    height: 195px;
    bottom: 29px;
    .h3 {
      width: 50px;
    }
  }

  .services .elem-four .whiteBox {
    width: 324px;
    height: 195px;
    bottom: 29px;
    .h3 {
      width: 270px;
    }
  }
}

/* IconTools section*/
.iconTools {
  margin-top: 141px;
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1745px;
    .toolBox {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 360px; // tu było 325px
      height: 359px;
      // border: solid greenyellow;
      .h3 {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-28) /
          var(--unnamed-line-spacing-38) var(--unnamed-font-family-poppins);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-000000);
        text-align: left;
        opacity: 1;
      }
    }
  }
  .toolBox .iconSvg {
    width: 108px;
    height: 129px;
    opacity: 1;
  }
  .toolBox #iconOne {
    background: transparent url("/images/Group\ 603.svg") 0% 0% no-repeat padding-box;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .toolBox #iconTwo {
    background: transparent url("/images/Group\ 602.svg") 0% 0% no-repeat padding-box;
    margin-top: 110px;
    margin-bottom: 31px;
    width: 120px;
    height: 119px;
    // border: solid green;
  }
  .toolBox #iconThree {
    background: transparent url("/images/Group\ 601.svg") 0% 0% no-repeat padding-box;
    margin-top: 100px;
    margin-bottom: 30px;
    width: 130px;
    height: 132px;
  }
  .toolBox #iconFour {
    background: transparent url("/images/Group\ 604.svg") 0% 0% no-repeat padding-box;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  #toolFive {
    height: 450px;
    margin-right: 36px;
    #iconFive {
      background: transparent url("/images/Group\ 598.svg") 0% 0% no-repeat padding-box;
      margin-top: 117px;
      margin-bottom: 41px;
      width: 136px;
      height: 102px;
    }
  }
  #toolSix {
    height: 450px;
    margin-right: 36px;
    #iconSix {
      background: transparent url("/images/Group\ 599.svg") 0% 0% no-repeat padding-box;
      margin-top: 100px;
      margin-bottom: 32px;
      width: 136px;
      height: 130px;
    }
  }
  #toolSeven {
    height: 450px;
    #iconSeven {
      background: transparent url("/images/Group\ 600.svg") 0% 0% no-repeat padding-box;
      margin-top: 100px;
      margin-bottom: 32px;
      width: 136px;
      height: 130px;
    }
  }
  .iconTitleBox {
    width: 290px;
    height: 359px;
    .h2 {
      font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-48) / 58px
        var(--unnamed-font-family-poppins);
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--unnamed-color-000000);
      text-align: left;
      opacity: 1;
    }
    .h2::after {
      display: inline-block;
      content: "";
      border-top: 0.6rem solid black;
      width: 8rem;
      margin: 0 -9.2rem;
      transform: translateY(3.5rem);
    }
  }
}

.buttonBox {
  display: flex;
  flex-direction: row;
  width: 380px;
  height: 78px;
  margin: 100px 0;

  .paragraph {
    font-family: var(--unnamed-font-family-poppins);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-18);
    line-height: var(--unnamed-line-spacing-28);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: white;
  }
  button {
    width: 80%;
    border: none;
    background: linear-gradient(to left, black 50%, var(--unnamed-color-FFCC48) 50%) right;
    background-size: 200%;
    transition: 0.5s ease-out;
  }
  .buttonArrowBox {
    display: inline-block;
    width: 78px;
    height: 78px;
    text-align: center;
    svg {
      width: 100%;
      height: 100%;
      background-color: black;
      transform: rotate(0deg);
      fill: white;
      margin: auto;
      text-align: center;
    }
  }
}

.buttonBox:hover {
  .paragraph {
    background-position: left;
    color: black;
  }
}

/* Big photo section */

.bigPhotoBox {
  position: relative;
  height: 642px;
  margin-top: 130px;
  // border: solid yellowgreen;
  .h1 {
    // position: absolute;
    // position: relative;
    margin-top: 220px;
    top: 220px;
    max-width: 540px;
    left: 95px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-65) /
      var(--unnamed-line-spacing-75) var(--unnamed-font-family-poppins);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    opacity: 1;
    // border: solid;
  }
  .h1::after {
    display: inline-block;
    content: "";
    border-top: 1.3rem solid black;
    width: 41rem;
    margin: 0 -0.19rem;
    transform: translateY(7.5rem);
  }
  .container {
    display: flex;
    position: relative;
    max-width: 1745px;
    height: 100%;
    // width: 100%;
    // margin-right: 0;
  }
  .imageBox {
    position: absolute;
    right: 0px;
    top: 0px;
    background: url("/images/Group\ 258.png") no-repeat center;
    height: 100%;
    // width: 100%;
    width: 1585px;
    z-index: -1;
  }
  .patternPhoto {
    position: absolute;
    background: url("/images/Group\ 576.png") no-repeat center;
    right: 175px;
    width: 290px;
    height: 145px;
    top: -72px;
  }
}

/* News section*/

.newsBox {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  .containerTitle {
    text-align: center;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-65) /
      var(--unnamed-line-spacing-75) var(--unnamed-font-family-poppins);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    opacity: 1;
    margin-bottom: 100px;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
    max-width: 1745px;
  }
  .wrapperCol {
    width: 450px;
    height: 100%;
  }
  .wrapperImage {
    img {
      height: 334px;
      width: 100%;
      object-fit: cover;
      overflow: hidden;
    }
  }
  .wrapperText {
    p {
      font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) /
        var(--unnamed-line-spacing-75) var(--unnamed-font-family-poppins);
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--unnamed-color-000000);
      text-align: left;
      opacity: 1;
    }
    .h3 {
      font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-28) /
        var(--unnamed-line-spacing-38) var(--unnamed-font-family-poppins);
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--unnamed-color-000000);
      text-align: left;
      opacity: 1;
    }
    .button {
      font: var(--unnamed-font-style-normal) normal medium var(--unnamed-font-size-18) / var(--unnamed-line-spacing-28)
        var(--unnamed-font-family-poppins);
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--unnamed-color-000000);
      text-align: left;
      text-decoration: underline;
      opacity: 1;
      border: none;
      background: none;
      font-size: 18px;
    }
  }
}

/*Footer section */

.footer {
  // height: 547px; test
  margin-top: 160px;
  background-color: var(--unnamed-color-000000);
  position: relative;
  .container {
    position: relative;
    display: flex;
    max-width: 1745px;
    flex-direction: column;
  }
  .logoBox {
    width: 250px;
    height: 75px;
    margin: 80px 0 0 -35px;
    svg {
      width: 100%;
      height: 100%;
      fill: #fff;
      font-size: 65px;
      font-family: Poppins-Bold, Poppins;
      font-weight: 700;
    }
  }
  .contactBox {
    width: 180px;
    // margin-top: 50px;
    p {
      font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px/26px
        var(--unnamed-font-family-poppins);
      letter-spacing: var(--unnamed-character-spacing-0);
      text-align: left;
      letter-spacing: 0px;
      color: #ffffff;
    }
    p:nth-last-child(1) {
      font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 16px/26px
        var(--unnamed-font-family-poppins);
    }
  }
}

.patternFooter {
  width: 290px;
  height: 68px;
  background: transparent url("/images/Group\ 586.svg") 0% 0% no-repeat padding-box;
  position: absolute;
  top: -29px;
  right: 175px;
}

.wrapperContact {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.navFooter {
  margin-right: 400px;
  ul {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px /
      var(--unnamed-line-spacing-28) var(--unnamed-font-family-poppins);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    color: #ffffff;
    opacity: 1;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 120px;
    padding-left: 0;
    width: 576px;
    li {
      letter-spacing: 0;
      text-align: left;
      color: #ffffff;
      opacity: 1;
      list-style: none;
      width: 160px;
      border: solid black;
      justify-content: center;
      margin-right: 100px;
    }
  }
}

.policy {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 12px / var(--unnamed-line-spacing-28)
    var(--unnamed-font-family-poppins);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  color: #ffffff;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 30px;
  p {
    margin: 0;
  }
  img {
    margin-bottom: 8px;
  }
}

/*MEDIA QUERIES*/

@media (min-width: 1400px) {
  .navAndSlider .navbarBurger {
    display: none;
  }
  .servicesSection .services {
    max-width: 1745px;
  }
}

@media (max-width: 1400px) {
  .contentImage {
    svg {
      font-size: 48px;
    }
    .paragraph {
      font-size: 36px;
    }
  }
  .formBox {
    width: 364px;
  }
  .navContainer .navbar-nav {
    visibility: hidden;
  }
  .navContainer {
    width: 78%;
  }
}

@media (max-width: 1610px) {
  .servicesSection .services .elem-two {
    margin-top: 27px;
  }
  .formBox {
    width: 365px;
  }
}
@media (max-width: 1373px) {
  .newsBox .container :nth-child(2n) {
    margin-top: 30px;
  }
  .newsBox .container :last-child {
    margin-top: 30px;
  }
  .navFooter {
    margin-right: 0;
  }
}

@media (max-width: 1025px) {
  .navContainer {
    left: 104px;
  }
  .navbar-brand {
    margin-right: 46px;
  }
  .contentImage {
    bottom: 90px;
    left: 100px;
  }
}

@media (max-width: 778px) {
  .navFooter ul {
    width: 244px;
  }
  .bigPhotoBox .h1 {
    font-size: 50px;
  }
  .bigPhotoBox .h1::after {
    width: 29rem;
  }
}

@media (max-width: 447px) {
  .navFooter {
    margin-top: 20px;
  }
}

@media (max-width: 500px) {
  .newsBox .containerTitle {
    font-size: 40px;
    margin-bottom: 55px;
  }
  .bigPhotoBox {
    // right: 57px;
    .h1 {
      font-size: 40px;
      margin-left: 49px;
      left: 0;
    }
    .patternPhoto {
      right: 90px;
    }
  }
  .bigPhotoBox .h1::after {
    width: 19rem;
  }
}

@media (max-width: 1785px) {
  .formBox {
    bottom: -35px;
    img {
      width: 90%;
      height: 90%;
    }
  }
}

@media (max-width: 360px){
  .bigPhotoBox .h1::after {
    width: 15rem;
  }
}
